 /* ---- 1. Control Bar -----*/
 .control-bar-settings {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-45px);
}

.control-bar-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.arrow-control-bar {
    position: absolute;
    top: 0;
    left: 50%;
    /* display: flex;
    justify-content: center;
    width: 100%; */
    /* left: 0; */
    /* right: 0; */
    text-align: center;
    color: white;
    pointer-events: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: translateY(0px);
    z-index: 10;
}

.arrow-control-bar-active {
    /* top: 45px !important; */
    transform: translateY(45px);
}

.arrow-control-bar img {
    pointer-events: auto;
    cursor: pointer;
}

/* ------ 2. Detail Control Bar Settings ------- */
.general-settings {
    pointer-events: auto;
    background: rgb(110, 132, 163);
    height: 100%;
    min-width: 100px;
    text-align: center;
}

.general-settings:first-child {
    border-left: 1px solid white;
}

.private-settings {
    padding: 0px 7px;
    cursor: pointer;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.private-settings:hover {
    background: rgba(144, 171, 208, 0.6);
}

.private-settings:hover input {
    background: rgba(255, 255, 255, 0.2);
}

.private-settings span {
    margin-left: 8px;
    display: inline-block;
}

.settings-icon {
    margin: 5px 0;
    display: inline-block;
}

/* ---- 3. Extra keys -----*/
.extra-keys {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0px);
}

.extra-keys-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(75px);
}

.extra-keys .details {
    display: inline-block;
    pointer-events: auto;
    padding-right: 6px;
    background: rgb(92, 92, 92);
}

.extra-keys .details .noVNC_button {
    margin: 7px 0;
}

.extra-keys .details:first-child {
    padding-left: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.extra-keys .details:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* 4. Option Select (Option Display and Option Screen) */
.option-select {
    text-align: left;
    padding: 3px 0px 3px 10px;
    cursor: pointer;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.option-select:hover {
    background: rgba(144, 171, 208, 0.6);
}

.advan-option {
    display: none;
}

.advan-option-open {
    display: block;
}

.mobile-settings {
    display: none;
}

/* 5. Chat Box */

@media only screen and (max-width: 767px) {
    .general-settings {
        min-width: auto;
    }

    .private-settings span {
        display: none;
    }

    .private-settings {
        padding: 0px 4px;
    }

    .mobile-settings {
        display: block;
    }

    .noVNC_button {
        padding: 3px 3px;
    }

    .settings-icon {
        margin: 3px 0;
    }
}
