 /* ---- 1. Control Bar -----*/
 .control-bar-settings {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    /* transform: translateY(-25px); */
}

.control-bar-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.arrow-control-bar {
    position: absolute;
    top: 0 !important;
    left: 50%;
    /* display: flex;
    justify-content: center;
    width: 100%; */
    /* left: 0; */
    /* right: 0; */
    text-align: center;
    color: white;
    pointer-events: none;
    cursor: pointer;
    /* transition: 0.2s ease-in-out; */
    /* transform: translateY(0px); */
    z-index: 10;
}

.arrow-control-bar-active {
    top: 45px !important;
    /* transform: translateY(45px); */
}

.arrow-control-bar img {
    pointer-events: auto;
    cursor: pointer;
}

/* ------ 2. Detail Control Bar Settings ------- */
.general-settings {
    pointer-events: auto;
    background: rgb(110, 132, 163);
    height: 100%;
    min-width: 100px;
    text-align: center;
}

.general-settings:first-child {
    border-left: 1px solid white;
}

.private-settings {
    padding: 0px 7px;
    cursor: pointer;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.private-settings:hover {
    background: rgba(144, 171, 208, 0.6);
}

.private-settings:hover input {
    background: rgba(255, 255, 255, 0.2);
}

.private-settings span {
    margin-left: 8px;
    display: inline-block;
}

.settings-icon {
    margin: 5px 0;
    display: inline-block;
}

/* ---- 3. Extra keys -----*/
.extra-keys {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0px);
}

.extra-keys-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(75px);
}

.extra-keys .details {
    display: inline-block;
    pointer-events: auto;
    padding-right: 6px;
    background: rgb(92, 92, 92);
}

.extra-keys .details .noVNC_button {
    margin: 7px 0;
}

.extra-keys .details:first-child {
    padding-left: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.extra-keys .details:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* 4. Option Select (Option Display and Option Screen) */
.option-select {
    text-align: left;
    padding: 3px 0px 3px 10px;
    cursor: pointer;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.option-select:hover {
    background: rgba(144, 171, 208, 0.6);
}

.advan-option {
    display: none;
}

.advan-option-open {
    display: block;
}

.mobile-settings {
    display: none;
}

/* 5. Chat Box */
.chat-box-handle {
    position: fixed;
    top: 40%;
    right: 16px;
}

.chat-box {
    height: auto;
    position: absolute;
    top: 25%;
    /* right: 0; */
    background: #d7d7d7;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    min-width: 250px;

    /* transition: 0.2s ease-in-out; */
    opacity: 0;
    visibility: hidden;
    /* transform: translateX(75px); */
}

.chat-box-open {
    opacity: 1;
    visibility: visible;
    /* transform: translateX(0px); */
}

.title-chat {
    padding: 5px 0;
    background: #bbbaba;
    border-bottom: 2px solid;
    border-top-left-radius: 3px;
}

.title-chat span {
    padding-left: 5px;
}

.body-chat {
    font-size: 12px;
    padding: 8px;
}

.body-chat span {
    margin-left: 3px;
}

.controller-comp,
.conversation {
    overflow: auto;
    margin: 3px 0 6px 0;
    border-radius: 2px;
    background: white;
    border: 1px solid #a9a9a961;
}

.controller-comp {
    height: 60px;
}

.conversation {
    height: 135px;
}

.conversation .test {
    padding: 5px 0 5px 5px;
}

.my-mess {
    color: grey;
}

.partner-mess {
    color: #00008bb8;
    ;
}

.btn-up-file {
    float: right;
    margin-top: 3px;
}

@media only screen and (max-width: 767px) {
    .general-settings {
        min-width: auto;
    }

    .private-settings span {
        display: none;
    }

    .private-settings {
        padding: 0px 4px;
    }

    .mobile-settings {
        display: block;
    }

    .noVNC_button {
        padding: 3px 3px;
    }

    .settings-icon {
        margin: 3px 0;
    }
}

/* --------- UPLOAD FILE ----------- */
/* Uploading file */
.uploading-file{
    margin: 5px;
    background: lightblue;
    border-radius: 5px;
    padding: 5px;
}

.progress {
    padding: 0 !important;
    background: lightblue;
    margin: 0 5px;
    text-align: center;
}

.progress .progress-bar{
    background: white;
}

.progress .progress-bar-uploading {
    width:70%;
    color: #fff;
    text-align: center;
    margin: 3px 0 5px 0;
    background-color: #337ab7;
}

.progress .file-size{
    font-size: 11px;
}

.file-info-1{
    float: left;
    width: 15%;
}

.file-info-1 img{
    width: 30px;
    margin-top: 2px;
}

.file-info-1 .time-upload{
    margin-top: 2px;
}

.file-info-2{
    float: left;
    width: 77%;
}

.file-info-3{
    float: left;
    width: 8%;
}

.file-info-3 img{
    width: 15px;
    margin-top: 15px;
}

/* Upload file success*/
.upload-success{
    margin: 5px;
    background: lightblue;
    border-radius: 5px;
    padding: 5px;
}

.upload-success .progress{
    text-align: left;
}

.upload-success .file-name{
    margin-top: 4px;
}

.upload-success .file-size{
    font-size: 11px;
    margin-top: 2px;
}

.upload-success .file-status{
    margin-top: 4px;
    text-align: center;
}

.user-chat-box{
    margin-top: 7px;
}

.user-chat-box .input-chat-box{
    margin: 0;
    padding: 5px;
    float: left;
    border-radius: 2px;
    width: 66%;
    border: 1px solid #a9a9a961;
}

.user-chat-box .image-upload img{
    width: 25px;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}

.user-chat-box #file-input{
    display: none;
}

.send-message{
    width: 25px;
    float: right;
    margin-top: 3px;
}

.chat-box .title-chat .title-label{
    float: left;
    margin-top: 3px;
}

.chat-box .title-chat .title-btn-close{
    width: 22px;
    float: right;
    margin-right: 3px;
}

.controller-comp .description{
    padding: 5px;
    background: #cce5ff;
    text-transform: uppercase;
}

.controller-comp .description img{
    padding-right: 5px;
}